.activity-container {
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  background-color: #FBFBFB;
  padding: 10px;
}

.activity-title {
  font-weight: 500;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  position: static; /* Force la position statique */
  color: #20253A;
}

.tooltipStyle {
  display: flex;
  flex-direction: column;
  background-color: #e60000;
  padding: 10px;
  text-align: center;
}

.tooltipStyle-label {
  color: white;
  font-size: 12px;
  padding: 10px;
}