.radarchart-container-graph {
  background-color: #282D30;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}

/* Assurer que le graphique a suffisamment d'espace */
.recharts-wrapper {
  margin: 0 auto;
}

/* Ajouter un peu d'espace autour du svg */
.recharts-surface {
  overflow: visible;
}